<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!-- Environment-->
    <add key="QAT" value="https://qa-secure.gcmlp-test.net"/>
    <!-- Data for Login Page-->
    <add key="userid" value="sjoghee@gcmlp.com"/>
    <add key="pwd" value="Myrajesh@897"/>
    <add key="reportdate" value="July 31, 2018"/>
    <add key="PortfolioId" value="GIP"/>
    <add key ="ImpersonateUser" value="jvaccaro@gcmlp.com"/>
    <!-- Tools assert-->
    <add key="toolsasserts" value="Grosvenor Capital Management, L.P"/>
  </appSettings>
  
</configuration>